<div class="sombra">
  <div class="formulario">
    <div class="form_title"><h1>Novo anuncio</h1></div>
    <div class="form_body" style="float:left" align="justify"><%= render "form" %></div>
    <%= link_to 'Voltar', announcements_path %>
  </div>
</div>
