<div id="conteudo">
  <br/>
  <h1 align="center">Cadastro dos Títulos dos Professores</h1>
<br/>
<br/>
<div id ="menu">
<legend>
  <div class="botao3d"><%= link_to 'Novo', new_titulo_professor_path %></div>
  <div class="botao3d"><%= link_to 'Alterar', titulo_professors_path %></div>
</legend>
</div>
<hr align="left" width="17%" color=#9C9C9C size="3">

<fieldset><legend><font size=5>Cadastro Titulação</font></legend>
  <%= render "form"%>
</fieldset>  
</div>